<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headlink}}
  </head>
  <body>
    {{>navbar}}

    <!-- main container -->

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left part -->
            <div class="col-md-12 col-12 main_header_left align-items-center">
                <figure class="errorimg">
                    <img src="../imagesweatherapp/errorpage.png" alt="Srijan" class="img-fluid"/>
                </figure>
              <p>This website is made by Me.</p>
              <h2>{{errorMsg}}</h2>
              <a href="/"><button>Return</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    {{>footer}}
  </body>
</html>
